body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  scroll-behavior: smooth;
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  z-index: 2;
}

.navbar .items {
  font-weight: bold;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .items .logo {
  width: 100px;
  cursor: pointer;
}

.navbar .items button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 100%;
  border: 10px 0 solid #000000;
}

.navbar .items button:hover {
  color: #e6ffbd;
}

.navbar .items .active {
  border-bottom: 10px solid #febce5;
  border-top: 10px solid black;
}

.parallax {
  width: 100vw;
  height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
}

/* first screen */
.parallax:nth-of-type(1) {
  background-image: url("../assets/images/allyson-carter-5P_DABYHK1A-unsplash.jpg");
  -webkit-transform: translateZ(-400px) scale(5.1);
          transform: translateZ(-400px) scale(5.1);
  z-index: 0;
  background-position: left;
  background-size: cover;
}

.parallax:nth-of-type(1) .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.parallax:nth-of-type(1) .content-wrapper {
  width: 100%;
  height: 100%;
}

.parallax:nth-of-type(1) .content-wrapper .welcome {
  text-shadow: 1px 1px 1px black;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -100px;
  left: 0;
  color: #ffffff;
  font-size: 0.8rem;
}

.parallax:nth-of-type(1) .content-wrapper .welcome .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.parallax:nth-of-type(1) .content-wrapper .welcome .logo img {
  width: 250px;
}

.parallax:nth-of-type(1) .content-wrapper .welcome .logo h1 {
  position: relative;
  bottom: 100px;
  font-family: "Mansalva", cursive;
  font-size: 4rem;
  color: white;
}

/* second screen */
.parallax:nth-of-type(2) {
  background-color: #e6ffbd;
  z-index: 10;
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
  background: linear-gradient(-10deg, #ffbde6, #ffbde6 46.9%, #343434 47%, #e6ffbd 47.1%, #e6ffbd 100%);
}

.parallax:nth-of-type(2) .content-wrapper {
  width: 100%;
  height: 100%;
}

.parallax:nth-of-type(2) .content-wrapper .info {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  line-height: 1.4;
}

.parallax:nth-of-type(2) .content-wrapper .info .about {
  width: 40%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 20px;
}

.parallax:nth-of-type(2) .content-wrapper .info .reviews {
  width: 40%;
  font-weight: 300;
  font-size: 1.3rem;
  position: relative;
}

.parallax:nth-of-type(2) .content-wrapper .info .reviews blockquote {
  margin: 24px 0;
  font-style: italic;
}

.parallax:nth-of-type(2) .content-wrapper .info .reviews .quote-begin {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: -60px;
  color: #ffbde6;
  text-shadow: 1px 1px 1px #343434;
}

.parallax:nth-of-type(2) .content-wrapper .info .reviews .quote-end {
  color: #ffbde6;
  text-shadow: 1px 1px 1px #343434;
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: -40px;
}

.parallax:nth-of-type(2) .content-wrapper .avatars {
  width: 100%;
  height: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar svg {
  width: 200px;
  position: absolute;
  bottom: 170px;
  left: 50px;
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  pointer-events: none;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar .text {
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  font-size: 0.9rem;
  width: 130px;
  position: absolute;
  top: -110px;
  text-align: center;
  left: 80px;
  pointer-events: none;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:hover .text {
  opacity: 1;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:hover svg {
  opacity: 1;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:nth-of-type(1) {
  background-image: url("../assets/images/adam-winger-fI-TKWjKYls-unsplash.jpg");
  background-position: center;
  background-size: 250%;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:nth-of-type(2) {
  background-image: url("../assets/images/michael-dagonakis-SPuo9KOWCJs-unsplash.jpg");
  background-position: center;
  background-size: 100%;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:nth-of-type(3) {
  background-image: url("../assets/images/wells-chan-YYxNrHsfEoI-unsplash.jpg");
  background-position-x: 600px;
  background-position-y: 300px;
  background-size: 150%;
}

.parallax:nth-of-type(2) .content-wrapper .avatars .avatar:nth-of-type(4) {
  background-image: url("../assets/images/ta-focando-SEoGRjR4s8o-unsplash.jpg");
  background-position: center;
  background-size: 100%;
}

/* third screen */
.parallax:nth-of-type(3) {
  z-index: 1;
  background-image: url("../assets/images/adam-winger-KVVjmb3IIL8-unsplash.jpg");
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* fourth screen */
.parallax:nth-of-type(4) {
  background-color: #ffbde6;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

.parallax:nth-of-type(4) .box {
  z-index: 10;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parallax:nth-of-type(4) .box h1 {
  text-align: center;
}

.parallax:nth-of-type(4) .box .row h2 {
  text-decoration: underline;
}

.parallax:nth-of-type(4) .box .row .grid {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.parallax:nth-of-type(4) .box .row .grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.parallax:nth-of-type(4) .box .row .grid li div:nth-of-type(2) {
  font-weight: bold;
}

.parallax:nth-of-type(4)::before {
  z-index: 2;
  content: "";
  width: 800px;
  height: 800px;
  background-color: #e6ffbd;
  border-radius: 50%;
  position: absolute;
}

.parallax:nth-of-type(5) {
  background-attachment: fixed;
  background-image: url("../assets/images/greg-trowman-k7AvgINPgdg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax:nth-of-type(5) p {
  color: white;
  width: 600px;
  text-shadow: 1px 1px 1px #454545;
}

.parallax:nth-of-type(5) .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.parallax:nth-of-type(5) .mapouter .gmap_canvas {
  border-radius: 2%;
  -webkit-box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.644);
          box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.644);
  border: 5px solid #e6ffbd;
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */